@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBg{
  background: linear-gradient(99deg, #f4f6f7 0%, #5BBCFF 100%);
}
.gradientbackground{
  background: linear-gradient(99deg, #102C57 0%, #102C57 100%);
  
}

.slick-slide > div{
  margin: 0 10px;
}
.card{
  width: 300px;
  height: 400px;
  border: 1px solid black;
  border-radius: 20px;
  margin:  50px auto;
  background: skyblue;
  padding-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.card-back{
  background: teal;
}