@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBg{
  background: linear-gradient(99deg, #f4f6f7 0%, #5BBCFF 100%);
}
.gradientbackground{
  background: linear-gradient(99deg, #102C57 0%, #102C57 100%);
  
}

.slick-slide > div{
  margin: 0 10px;
}
.card{
  width: 250px;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
  margin:  50px auto;
  background: skyblue;
  padding-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
.card-back{
  background: teal;
}


.hover\:scale-110:hover {
  transform: scale(1.1);
}
.wavy-background {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"%3E%3Cpath fill="%233b5eda" fill-opacity="1" d="M0,64L60,85.3C120,107,240,149,360,165.3C480,181,600,171,720,160C840,149,960,139,1080,138.7C1200,139,1320,149,1380,154.7L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"%3E%3C/path%3E%3C/svg%3E');
  background-size: cover;
}

/* Additional CSS for other elements */
.card-color{
  background-color: #fef9ed;
}
.wave-header{
  min-height: 100vh;
  width: 100%;
  background-color: #fef9ed;
  position: relative;
}
svg{
  position: absolute;
  bottom: 0;
  left: 0;
}
.flip-card {
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px;
  font-family: sans-serif;
  margin: 50px auto; /* Set top and bottom margins to 50px, and left and right margins to auto */
}
.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
 
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid blue;
  border-radius: 1rem;
}

.flip-card-front {
  background: #3b5eda;
  color: blue;
}

.flip-card-back {
  background: #3b5eda;
  color: white;
  transform: rotateY(180deg);
}
.text-italic {
  font-style: italic !important;
}
